# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build output
.next/
out/
dist/
build/

# Production files
*.cache/
.cache/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary files
*.tmp
*.swp

# OS specific files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Next.js telemetry
.next/
.vercel/

# Yarn Berry
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
